@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.about .img {
  width: 100%;
  height: 10rem;
}
.about .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**
*? =================================== MEADIA QUERIES ======================================================================================
**/
@media (min-width: 1040px) {
  .about {
    margin-inline: 4rem;
  }
  .about .img {
    width: 40rem;
    height: 20rem;
  }
}
/**
*? ===================x=============== MEADIA QUERIES ================x=====================================================================
**/
.rules-container {
  margin-inline: 1rem;
  padding-inline: 1rem;
}
.rules-container .rule-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
}
.rules-container .rule-list .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #ffab21;
  text-transform: uppercase;
}
.rules-container .rule-list li {
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1.5px solid #254083;
  overflow: hidden;
}
.question .questionBx {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.question .questionBx .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.question .questionBx i {
  color: #ffab21;
  transition: 0.6s;
}
.question .answer {
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
  transition: 0.6s;
  padding: 0 0.5rem;
  height: 0;
}
.question.open .answer {
  margin-bottom: 1rem;
}

/**
*? ============================= MEDIA QUERIES ==================================================== 
**/
@media (min-width: 1040px) {
  .rules-container {
    margin-inline: 4rem;
  }
  .rules-container .rule-list li {
    font-size: 1rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: left;
  }
}
/**
*? =============x=============== MEDIA QUERIES =================x================================== 
**/
.services {
  margin-inline: 1rem;
}
.services .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: unset;
  align-items: center;
}
.services .cards .card {
  width: 100%;
  padding: 2rem 1rem;
  box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.2509803922);
}
.services .cards .card .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #254083;
  font-size: 1.125rem;
}
.services .cards .card p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
}

/**
*? ============================= MEDIA QUERIES ==================================================== 
**/
@media (min-width: 1040px) {
  .services .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
  .services .cards .card {
    width: 34rem;
    height: 20rem;
  }
}
/**
*? ========x==================== MEDIA QUERIES ===========x======================================== 
**/
.news-post {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: unset;
  align-items: center;
  gap: 2rem;
  margin-inline: 1rem;
  align-items: center;
}
.news-post .content {
  text-align: center;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-post .content .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #254083;
  font-weight: 600;
  margin-bottom: 0;
}
.news-post .content .date {
  color: #ffab21;
  font-size: 0.75rem;
}
.news-post .content p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
}
.news-post .img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  order: 1;
}
.news-post .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

/**
*? ============================= MEDIA QUERIES ==================================================== 
**/
@media (min-width: 1040px) {
  .news-post {
    margin-inline: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    align-items: center;
  }
  .news-post .content {
    width: 47rem;
    text-align: left;
    align-items: flex-start;
    order: 1;
  }
  .news-post .content .title {
    text-align: left;
  }
  .news-post .img {
    width: 28rem;
    height: 26rem;
    order: 2;
  }
}
/**
*? =============x=============== MEDIA QUERIES =======================x============================ 
**/
.store-list .list {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: unset;
  align-items: center;
  gap: 1.5rem;
}
.store-list .list .store {
  width: 100%;
  height: 8rem;
  border-radius: 0.625rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.2509803922);
}

/*
* ============================ MEADIA QUERIES =============================================
*/
@media (min-width: 1040px) {
  .store-list .list {
    margin: 2rem 4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
  }
  .store-list .list .store {
    width: 18rem;
  }
}
input {
  width: 100%;
  height: 3rem;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  color: #404040;
  font-weight: 500;
}

textarea {
  width: 100%;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding: 1.5rem;
  appearance: none;
  resize: none;
  font-size: 1rem;
  font-weight: 600;
  color: #404040;
  letter-spacing: 0.03rem;
  background: #ffffff;
}

.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  position: relative;
}
.select .select-header {
  width: 100%;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding: 1.5rem;
  appearance: none;
  resize: none;
  font-size: 1rem;
  font-weight: 600;
  color: #404040;
  letter-spacing: 0.03rem;
  background: #ffffff;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.select .select-header i {
  transition: 0.6s;
}
.select .options {
  position: absolute;
  top: 4rem;
  z-index: 3;
  width: 100%;
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  align-items: flex-start;
  transition: 0.6s linear;
}
.select .options .option {
  width: 100%;
  padding: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
  cursor: pointer;
}
.select .options .option:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.select .options .option:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.select .options .option:hover {
  background: rgba(255, 171, 33, 0.8);
  color: #ffffff;
}
.select #cityOptions {
  height: 11rem;
  overflow-y: scroll;
}
.select #cityOptions::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
.select #cityOptions::-webkit-scrollbar-track {
  background: #e3e3e3;
}
.select #cityOptions::-webkit-scrollbar-thumb {
  background-color: #ffab21;
  border-radius: 0.5rem;
}
.select #cityOptions .option:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
}
.select #cityOptions .option:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0;
}
.select.active .options {
  display: flex;
}
.select.active i {
  transform: rotate(180deg);
}

.operatorID {
  width: 10rem;
}
.operatorID .select-header {
  border-left: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#telNumber {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[type=submit] {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #254083;
  cursor: pointer;
  transition: 0.6s;
}
input[type=submit]:hover {
  background-color: #ffab21;
  border-color: #ffab21;
}

::placeholder {
  font-size: 1rem;
  color: #404040;
  font-weight: 500;
}

:focus {
  outline-color: #ffab21;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  border-radius: 0.18rem;
  border: 0.5px solid #ffab21;
  accent-color: #ffab21;
  background: #ffffff;
}

/* 
* ================ LOGIN | REGISTRATION | PASSWORD REPAIR PAGES ====================================== */
.formPage {
  margin: 2rem 1rem;
}
.formPage .img {
  display: none;
}

.image {
  display: none;
}

.formContainer {
  margin-top: 8rem;
  width: 100%;
  height: 30rem;
  background: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.2509803922);
  position: relative;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.formContainer .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.formContainer .lockImg {
  position: absolute;
  top: -5rem;
  right: 2rem;
}
.formContainer .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
  font-size: 0.875rem;
  color: #404040;
}
.formContainer .bottom a {
  color: #254083;
  cursor: pointer;
  transition: 0.4s;
}
.formContainer .bottom a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.formContainer #getNewPasswordForm,
.formContainer #getCodeForm {
  display: none !important;
}
.formContainer .successAlert {
  display: none !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.formContainer .successAlert span {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
}
.formContainer .successAlert .btn-text {
  color: #ffab21;
  font-size: 0.875rem;
  background: none;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.formContainer .successAlert .btn-text a {
  color: #ffab21;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.loginForm .inputBx {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #404040;
}
.loginForm .inputBx a {
  color: #254083;
  cursor: pointer;
  transition: 0.4s;
}
.loginForm .inputBx a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.loginForm .inputBx .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#formPage .formContainer {
  width: 100%;
  align-items: center;
}
#formPage .formContainer .repairPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.subtitle.center {
  margin: 2rem 0;
  width: 100%;
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.signUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
}
.signUpForm .row {
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.signUpForm .row input[type=password],
.signUpForm .row #confirmPassword {
  outline: none;
  border: none;
}
.signUpForm .row input[type=submit] {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #254083;
  cursor: pointer;
  transition: 0.6s;
}
.signUpForm .row input[type=submit]:hover {
  background-color: #ffab21;
  border-color: #ffab21;
}
.signUpForm .row input {
  width: 100%;
  height: 3rem;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  color: #404040;
  font-weight: 500;
}
.signUpForm .row textarea {
  width: 100%;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding: 1.5rem;
  appearance: none;
  resize: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: #404040;
  letter-spacing: 0.03rem;
  background: #ffffff;
}
.signUpForm .row .inputBx {
  width: 100%;
  height: 3rem;
  border: 2px solid #254083;
  border-radius: 1rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
  color: #404040;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUpForm .row .inputBx input {
  border: none;
  background: none;
}

.signUpContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-image: url("../assets/images/bg-small images/bg-signUp.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.formBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
  font-weight: 500;
}
.formBottom i {
  color: #ffab21;
}
.formBottom a {
  color: #ffab21;
  transition: 0.4s;
}
.formBottom a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.signUp.successAlert {
  display: block !important;
}

.tariffTable .select {
  width: 16rem;
  margin-inline: auto;
}

/* 
* =======x======== LOGIN | REGISTRATION | PASSWORD REPAIR PAGES =======x================================= */
/*
* =================== CONTACT SECTION ===================================================
*/
.contact {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: unset;
  align-items: center;
  gap: 2rem;
  align-items: center;
}
.contact .info {
  width: 100%;
  order: 2;
  box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.2509803922);
  background: #ffffff;
  border-radius: 0.625rem;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  letter-spacing: 0.125rem;
}
.contact .info .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact .info .col .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #404040;
}
.contact .info .col .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.contact .info .col .row i {
  color: #ffab21;
  font-size: 1.125rem;
}
.contact .info .col .row span {
  font-size: 0.625rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
}
.contact .form {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 0.625rem;
  box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.2509803922);
  order: 1;
}
.contact .form .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.contact .form .contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-items: flex-start;
}
.contact .form .contactForm .inputBx {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 2rem;
}

/*
* =====x============== CONTACT SECTION ====x===============================================
*/
/**
*? =================================== MEADIA QUERIES ======================================================================================
**/
@media (min-width: 1040px) {
  /*
  * =================== CONTACT SECTION ===================================================
  */
  .contact {
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    align-items: center;
    gap: 6rem;
    align-items: flex-start;
  }
  .contact .info {
    order: 1;
    padding: 4rem 3rem;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .contact .info .col {
    align-items: flex-start;
    gap: 0.8rem;
  }
  .contact .info .col .subtitle {
    font-size: 1rem;
    color: #254083;
    font-weight: 600;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  .contact .info .col .row {
    gap: 1rem;
  }
  .contact .info .col .row span {
    font-size: 0.75rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: left;
  }
  .contact .form {
    order: 2;
    gap: 1.5rem;
    align-items: flex-start;
  }
  .contact .form .subtitle {
    font-size: 1rem;
    color: #254083;
    font-weight: 600;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  .contact .form .contactForm {
    align-items: flex-start;
  }
  .contact .form .contactForm .inputBx {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact .form .contactForm .inputBx input {
    width: 16rem;
    height: 3rem;
    border: 2px solid #254083;
    border-radius: 1rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    color: #404040;
    font-weight: 500;
  }
  .contact .form .contactForm select,
  .contact .form .contactForm textarea {
    width: 34rem;
  }
  .contact .form .contactForm input[type=submit] {
    width: 34rem;
  }
  .tariffTable .select {
    width: 16rem;
    position: absolute;
    top: 2rem;
    right: 0;
  }
  /*
  * =====x============== CONTACT SECTION ====x===============================================
  */
  /* 
  * ================ LOGIN | REGISTRATION | PASSWORD REPAIR PAGES ====================================== */
  .formPage {
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: 28rem 30rem;
    grid-template-rows: unset;
    align-items: center;
    gap: 10rem;
  }
  .formPage .img {
    display: block;
    width: 30rem;
    height: 30rem;
  }
  .formPage .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .formContainer {
    margin-top: 4rem;
    width: 30rem;
  }
  .signUpForm {
    width: 63rem;
  }
  .signUpForm .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .signUpContainer {
    margin: 4rem auto;
  }
  .formBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.75rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: left;
  }
}
/**
*? ===================x=============== MEADIA QUERIES ================x=====================================================================
**/
.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: unset;
  align-items: center;
  margin: 1rem;
}
.gridContainer .img {
  display: none;
}
.gridContainer .content {
  gap: 0.5rem;
}
.gridContainer .content .title {
  margin-bottom: 0;
  text-align: center;
}
.gridContainer .content p {
  width: 85%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.gridContainer .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.gridContainer .content .form .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.gridContainer .content .form .row select {
  padding: 1rem;
}
.gridContainer .content .form .result {
  background: #254083;
  color: #ffffff;
}
.gridContainer .content .form .result::placeholder {
  color: #ffffff;
  font-weight: 600;
}
.gridContainer .content .form input[type=submit] {
  background: #ffab21;
  border-color: #ffab21;
}
.gridContainer .content .form input[type=submit]:hover {
  background: #254083;
  border-color: #254083;
}

.tariffTable {
  margin: 6rem 1rem 4rem;
  position: relative;
}
.tariffTable .chooseCountry {
  width: 16rem;
  padding: 0.8rem;
  position: absolute;
  right: 0;
  top: 0;
}
.tariffTable .table {
  margin-top: 6rem;
  display: none;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.table .head {
  width: 100%;
  padding-left: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.table .head p {
  padding-left: 1rem;
  font-size: 0.875rem;
}
.table .sort {
  width: 100%;
  height: 5rem;
  background: #ffffff;
  border-radius: 0.625rem;
  padding-inline: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  box-shadow: 0px 2px 7px 0px rgba(138, 138, 138, 0.25);
}
.table .sort .subtitle {
  width: 6rem;
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.table .sort .row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.table .sort .row p {
  width: 100%;
  text-align: center;
}

/** 
* ? ================================== Media Queries ==================================
**/
@media (min-width: 1040px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    align-items: center;
    margin: 4rem 4rem 8rem;
  }
  .gridContainer .img {
    display: block;
  }
  .gridContainer .content {
    align-items: flex-start;
  }
  .gridContainer .content .title {
    text-align: left;
  }
  .gridContainer .content p {
    text-align: left;
  }
  .gridContainer .content .form .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tariffTable {
    margin: 6rem 4rem 4rem;
    position: relative;
  }
  .tariffTable .price-list {
    display: none;
  }
  .tariffTable .chooseCountry {
    width: 16rem;
    padding: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  .tariffTable .table {
    margin-top: 6rem;
    display: block;
  }
  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
  .table .head {
    width: 100%;
    padding-left: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
  .table .head p {
    padding-left: 1rem;
    font-size: 0.875rem;
  }
  .table .sort {
    width: 100%;
    height: 5rem;
    background: #ffffff;
    border-radius: 0.625rem;
    padding-inline: 2.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    box-shadow: 0px 2px 7px 0px rgba(138, 138, 138, 0.25);
  }
  .table .sort .subtitle {
    width: 6rem;
    font-size: 1rem;
    color: #254083;
    font-weight: 600;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  .table .sort .row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .table .sort .row p {
    width: 100%;
    text-align: center;
  }
}
/** 
* ? ==============x=================== Media Queries ===================x==============
**/
.hero-slider {
  margin-top: 0rem;
  background: linear-gradient(180deg, #ffffff, rgba(0, 91, 127, 0.6));
  z-index: 1;
}

.swiper-slide .slider-card {
  width: 100%;
  height: 20rem;
  padding-inline: 1rem;
}
.swiper-slide .slider-card .slider-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-top: 4rem;
}
.swiper-slide .slider-card .slider-info .title {
  font-size: 2rem;
  color: #ffffff;
  width: 26rem;
  text-align: left;
}
.swiper-slide .slider-card .slider-info p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: left;
}
.swiper-slide .slider-card .slider-image {
  display: none;
}

.swiper-pagination {
  text-align: left;
  margin-left: 4rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ffab21;
  width: 1.5rem;
  border-radius: 0.625rem;
}

/**
*? =============================== Media Queries ======================================
**/
@media (min-width: 1040px) {
  .hero-slider {
    width: 100%;
    margin-top: -3rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .swiper-slide .slider-card {
    height: 100%;
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    align-items: center;
  }
  .swiper-slide .slider-card .slider-info {
    margin-top: -5rem;
  }
  .swiper-slide .slider-card .slider-info .title {
    font-size: 3rem;
  }
  .swiper-slide .slider-card .slider-info p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: left;
  }
  .swiper-slide .slider-card .slider-image {
    display: block;
  }
}
/**
*? ================x============== Media Queries =====================x================
**/
.places {
  margin-inline: 1rem;
}
.places .tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.places .tabs .tab-btn {
  width: 16rem;
  background: #ffffff;
  border: 2px solid #254083;
  border-radius: 0.625rem;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
  font-weight: 600;
  transition: 0.6s ease-in-out;
}
.places .tabs .tab-btn.active {
  background: #254083;
  color: #ffffff;
}
.places .contents .content {
  display: none;
  transition: 0.6s ease-in-out;
}
.places .contents .content.active {
  display: block;
}
.places .contents .content .tariffTable {
  margin: 0;
}

/**
*? =================================== MEADIA QUERIES ======================================================================================
**/
@media (min-width: 1040px) {
  .places {
    margin-inline: 4rem;
  }
  .places .tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .places .tabs .tab-btn {
    width: 100%;
  }
}
/**
*? ===================x=============== MEADIA QUERIES ================x=====================================================================
**/
/* 
* ====================================START HERE=====================================================================*/
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #e3e3e3;
}

html::-webkit-scrollbar-thumb {
  background-color: #ffab21;
  border-radius: 0.5rem;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f5f7;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #254083;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
* !     ----------------  Header Section  -----------------------------------
**/
header {
  position: relative;
}
header .header-top {
  width: 100%;
  height: 2.5rem;
  background-color: #254083;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 1rem;
}
header .header-top .left {
  display: none;
  flex-direction: unset;
  align-items: center;
}
header .header-top .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header-top .right .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
header .header-top .right .btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
header .header-top .right .btn-group .btn-text {
  color: #fafafa;
  font-size: 0.875rem;
  background: none;
  text-align: center;
  cursor: pointer;
}
header .header-top .right .btn-group .btn-text a {
  color: inherit;
}
header .header-top .right .btn-group .btn-text .colored {
  color: #ffab21;
}
header .header-top .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
header .header-top i {
  font-size: 0.875rem;
  cursor: pointer;
  color: #ffab21;
}
header .nav {
  display: none;
}
header .nav-sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 2px 7px 0px rgba(138, 138, 138, 0.25);
}
header .nav-sm .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
header .nav-sm .buttons i {
  font-size: 1.5rem;
}
header .menu {
  width: 20rem;
  height: 100%;
  padding: 2rem 1rem;
  box-shadow: 0px 2px 7px 0px rgba(138, 138, 138, 0.25);
  position: fixed;
  top: 0;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  transform: translateX(-200%);
  transition: transform 0.6s;
  z-index: 2;
}
header .menu .nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 2rem;
}
header .menu .nav-top .top {
  width: 17rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
}
header .menu .nav-top .top i {
  font-size: 1.5rem;
  color: #005b7f;
}
header .menu .nav-top .top i:hover {
  color: #ffab21;
}
header .menu .nav-top .nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-items: flex-start;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
}
header .menu .nav-top .nav-menu li {
  font-size: 1.125rem;
  font-weight: 500;
}
header .menu .nav-top .nav-menu li:hover a {
  color: #ffab21;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
header .menu .nav-top .nav-menu li a {
  color: #254083;
}
header .menu .nav-top .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
}
header .menu .nav-top .contact .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
header .menu .nav-top .contact .row i {
  color: #ffab21;
}
header .menu .nav-top .contact .row span {
  color: #254083;
}
header .menu .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  color: #254083;
  font-size: 1.125rem;
}
header .menu .socials i:hover {
  color: #ffab21;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**
* !     ---------------x-  Header Section  -x----------------------------------
**/
/**
* !     ----------------  Main Section  -----------------------------------
**/
.price-list {
  padding: 4rem 1rem;
  background-image: url("../assets/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-Container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.625rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-Container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;
}
.table-Container .header h5 {
  width: 5rem;
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.table-Container .body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.table-Container .body .col {
  width: 100%;
}
.table-Container .body .col .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 171, 33, 0.2);
  padding: 0.5rem 0;
}
.table-Container .body .col .row:last-child {
  border: none;
}
.table-Container .body .col .row:hover {
  background-color: rgba(255, 171, 33, 0.3);
}
.table-Container .body .col .row p {
  width: 5rem;
  padding: 0.5rem 0;
  text-align: center;
}

.usage {
  margin-inline: 1rem;
}
.usage .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-inline: 1rem;
  margin-top: 3rem;
}
.usage .container .step {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}
.usage .container .step .img {
  width: 15rem;
  height: 14rem;
}
.usage .container .step .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.usage .container .step p {
  font-size: 1rem;
  font-weight: 500;
  color: #404040;
}
.usage .container .step .line {
  display: block;
  width: 8rem;
  height: 1px;
  background: #ffab21;
}

.news-list {
  position: relative;
  margin: 6rem 0 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 1rem;
}
.cards .card {
  width: 20rem;
  height: 26rem;
  background: #ffffff;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.cards .card .card-image {
  width: 20rem;
  height: 14rem;
}
.cards .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}
.cards .card .card-body {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1rem;
}
.cards .card .card-body .subtitle {
  font-size: 1rem;
  color: #254083;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.cards .card .card-body .content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.6;
}
.cards .card .card-body .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14rem;
}
.cards .card .card-body .bottom .date {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .card .card-body .bottom .date span {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}
.cards .card .card-body .bottom .date span:first-child {
  color: #254083;
}
.cards .card .card-body .bottom .date span:last-child {
  color: #404040;
}
.cards .card .card-body .bottom .btn-rounded {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #ffffff;
  background: #ffab21;
  cursor: pointer;
  transition: 0.6s;
}
.cards .card .card-body .bottom .btn-rounded a {
  color: #ffffff;
}
.cards .card .card-body .bottom .btn-rounded:hover {
  background: #254083;
}

.link {
  text-align: center;
  margin: 2rem 0;
  font-size: 0.875rem;
}
.link a {
  color: #ffab21;
}
.link a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.stores {
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background: #ffffff;
}

/**
* !     ---------------x-  Main Section  -x----------------------------------
**/
/**
* ! -------------------- Footer Section -------------------------------------------------
**/
footer {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 4rem 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/images/bg.png");
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
footer .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 2rem;
}
footer .top .footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 3rem;
}
footer .top .footer-menu .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 1.5rem;
}
footer .top .footer-menu .col .row span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .top .footer-menu .col li {
  text-align: center;
  font-size: 1rem;
  color: #254083;
  font-weight: 500;
}
footer .top .footer-menu .col li a {
  color: #254083;
}
footer .top .footer-menu .col li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
footer .top .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
footer .top .socials a {
  color: #ffab21;
  font-size: 1.25rem;
  cursor: pointer;
}
footer .bottom {
  border-top: 1px solid #ffe8ba;
  padding-top: 2rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 600;
}
footer .bottom .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
footer .bottom .row a {
  color: #404040;
}
footer .bottom .row a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
footer .bottom p {
  margin-top: 2rem;
  color: #254083;
}

/**
* ! --------------x------ Footer Section ----------------x--------------------------------
**/
/**
* * ================================================================================
**/
.breadcrumbs {
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.breadcrumbs li a {
  color: #404040;
}
.breadcrumbs li .active {
  color: #254083;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.content p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}
.tab .tablinks {
  border: 2px solid #254083;
  background: transparent;
  color: #254083;
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.6s;
  font-weight: 600;
}

.tablinks.active {
  background: #254083;
  color: #ffffff;
}

.tabcontent {
  width: 100%;
  margin: 4rem 0;
  padding-inline: 1rem;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.tabcontent p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.8;
  letter-spacing: 0.125rem;
  text-align: center;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.paginations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}
.paginations .prev,
.paginations .next {
  color: #254083;
}
.paginations .pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.paginations .pagination li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid inherit;
  background-color: #e3e3e3;
  cursor: pointer;
}
.paginations .pagination li.active {
  background-color: #ffab21;
}

.page-number {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid inherit;
  background-color: #e3e3e3;
  cursor: pointer;
}

.country {
  width: 10rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  gap: 1rem;
}

/**
* * ===================x==========================================x=================
**/
/**
* ? =========================== MEADIA QUERIES ====================================================================================================== 
**/
@media (min-width: 768px) {
  header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #fafafa;
    box-shadow: 0px 2px 7px 0px rgba(138, 138, 138, 0.25);
  }
  header .nav .lg.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  header .nav .lg.nav-menu li {
    font-size: 0.75rem;
  }
  header .nav .lg.nav-menu li:hover a {
    color: #ffab21;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  header .nav .lg.nav-menu li a {
    color: #404040;
  }
  header .nav .btn {
    display: none;
  }
  header .nav-sm,
  header .menu {
    display: none;
  }
}
@media (max-width: 1040px) {
  .header-top .right {
    width: 100%;
  }
}
@media (min-width: 1040px) {
  /**
  * !     ----------------  Header Section  -----------------------------------
  **/
  header .header-top {
    padding-inline: 4rem;
    font-size: 0.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .header-top .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  header .header-top .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  header .header-top .right .socials {
    margin-right: 1rem;
  }
  header .header-top i {
    font-size: 0.75rem;
  }
  header .nav {
    padding: 1rem 4rem;
  }
  header .nav .lg.nav-menu li {
    font-size: 1rem;
  }
  header .nav .btn {
    display: block;
    width: 8rem;
    background: #ffab21;
    height: 2.5rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    text-align: center;
    color: #fafafa;
    cursor: pointer;
    transition: 0.6s;
  }
  header .nav .btn:hover {
    background-color: #254083;
  }
  header .nav .btn a {
    color: #fafafa;
  }
  header .nav-sm,
  header .menu {
    display: none;
  }
  /**
  * !     ---------------x-  Header Section  -x----------------------------------
  **/
  /**
  * !      --------------  Main Section  ---------------------------------
  **/
  .usage {
    margin-inline: 4rem;
  }
  .usage .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .news-list {
    position: relative;
    margin: 6rem 0 4rem;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem 4rem 2rem;
  }
  .link {
    margin-bottom: 4rem;
    position: absolute;
    right: 7rem;
    bottom: -6rem;
  }
  .stores {
    margin: 6rem 4rem;
    height: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 0.625rem;
  }
  .stores .store {
    width: 7rem;
    height: 3rem;
  }
  .stores .store img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  /**
  * !     ---------------x-  Main Section  -x----------------------------------------------
  **/
  /**
  * ! -------------------- Footer Section -------------------------------------------------
  **/
  footer {
    height: 22rem;
    padding: 4rem;
    align-items: unset;
    justify-content: space-between;
  }
  footer .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .top .footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    gap: 3rem;
  }
  footer .top .footer-menu .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  footer .top .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .bottom {
    border-top: 1px solid #ffe8ba;
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .bottom .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .bottom p {
    margin-top: -0.3rem;
  }
  /**
  * ! --------------x------ Footer Section ----------------x--------------------------------
  **/
  /**
  * * ================================================================================
  **/
  .breadcrumbs {
    margin: 2rem 4rem;
  }
  .content p {
    font-size: 1rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: center;
  }
  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tabcontent {
    width: 64rem;
    margin: 4rem auto;
  }
  .tabcontent p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #404040;
    line-height: 1.8;
    letter-spacing: 0.125rem;
    text-align: left;
  }
  .price-list {
    padding: 4rem;
  }
  .table-Container {
    padding: 3rem 6rem;
  }
  .table-Container .header h5 {
    width: 10rem;
    font-size: 1.25rem;
  }
  .table-Container .body .col .row p {
    width: 10rem;
  }
  /**
  * * ==================x==============================================x==============
  **/
  /* =======================================END===================================================================== */
}
/**
* ? ================x========== MEADIA QUERIES ======================x=============================================================================== 
**/
/* 
* ====================================END HERE=====================================================================*/