.about {
  margin-inline: $sm-margin;
  @include display(flex, column);
  gap: 2rem;
  .img {
    width: 100%;
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
/**
*? =================================== MEADIA QUERIES ======================================================================================
**/

@media (min-width: 1040px) {
  .about {
    margin-inline: $lg-margin;
    .img {
      width: 40rem;
      height: 20rem;
    }
  }
}

/**
*? ===================x=============== MEADIA QUERIES ================x=====================================================================
**/
